.card{
  margin: 20px 0;
  padding: 20px;
}

h3{
  margin-top: 30px;
}

h4{
  color: #114;
}

h4:hover{
  color: #448;
}

span{
  color: green;
}

a{
  text-decoration: none;
}

#add-note{
  margin-right: 10px;
}
