<div class="row">
  <div class="col-md-3">
    <h3 *ngIf="ticketsExist">All tickets</h3>
    <h3 *ngIf="!ticketsExist">No tickets</h3>
  </div>
<div class="col-md-2">
  <label *ngIf="ticketsExist">Department</label><br>
  <select [(ngModel)]="department" name="department" *ngIf="ticketsExist" (change)="applyFilters()">
  <option value="All" selected>All</option>
  <option value="Billing">Billing</option>
  <option value="Sales">Sales</option>
  <option value="Customer Service">Customer Service</option>
  <option value="Retention">Retention</option>
  <option value="Scheduling">Scheduling</option>
  </select>
</div>
<div class="col-md-2">
  <label *ngIf="ticketsExist">Status</label><br>
  <select [(ngModel)]="status" name="status" *ngIf="ticketsExist" (change)="applyFilters()">
  <option value="All" selected>All</option>
  <option value="Open">Open</option>
  <option value="On Hold">On Hold</option>
  <option value="Closed">Closed</option>
  </select>
</div>
</div>
<div class="card card-block" *ngFor="let ticket of tickets">
<a [routerLink]="['/update/']+ ticket._id">
   <h4 class="card-title">{{ticket.title}}: edit</h4>
  </a>
  <div class="row">
  <div class="col-md-3">
  <p><span>Status</span>: {{ticket.status}}</p>
  <p><span>Created By</span>: {{ticket.createdBy}}</p>
  </div>
  <div class="col-md-3">
  <p><span>Created at</span>: {{ticket.dateCreated}}</p>
</div>
<div class="col-md-3">
  <p><span>Last Modified</span>: {{ticket.lastModified}}</p>
</div>
<div class="col-md-3">
  <p><span>Department</span>: {{ticket.department}}</p>
  <p *ngIf="ticket.completedAt"><span>Completed at</span>: {{ticket.completedAt}}</p>
</div>
</div>
<hr>
<div class="row">
  <div class="col-md-9">
  <p><span>Description</span>: {{ticket.description}}</p>
</div>
<div class="col-md-3">
<button class="btn btn-default" (click)="addNote(ticket._id)" id="add-note">Add Note</button>
<button class="btn btn-danger" (click)="deleteTicket(ticket._id)">Delete</button>
<br><br>
<h5 *ngIf="!ticket.notes[0]">No Notes</h5>
<ol *ngIf="ticket.notes[0]">
  <h5>All Notes</h5>
<li *ngFor="let note of ticket.notes">{{note}}</li>
</ol>
</div>
</div>
</div>
