<h2 class="page-header">Update your ticket</h2>
<form (submit)="onRegisterSubmit()">
  <div class="form-group">
    <label>Title</label>
    <input type="text" value={{ticketData.title}} [(ngModel)]="title" name="title" class="form-control">
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea rows="2" cols="80" [(ngModel)]="description" name="description" class="form-control"></textarea>
  </div>

  <div class="row">
    <div class="col-md-2">
  <div class="form-group">
    <label>Department</label><br>
    <select [(ngModel)]="department" value={{ticketData.department}} name="department">
  <option value="Billing">Billing</option>
  <option value="Sales">Sales</option>
  <option value="Customer Service">Customer Service</option>
  <option value="Retention">Retention</option>
  <option value="Scheduling">Scheduling</option>
</select>
</div></div>
<div class="col-md-2">
<label>Status</label><br>
<select [(ngModel)]="status" value={{ticketData.status}} name="status">
<option value="Open">Open</option>
<option value="Closed">Closed</option>
<option value="On Hold">On Hold</option>
</select>
</div>

  </div>
<input type="submit" class="btn btn-primary" value="Submit">
</form>
