<div class="row" id="gg">
<h2 class="page-header">Submit a ticket</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum deleniti in cupiditate consectetur aut ea quas voluptatibus libero aspernatur atque nulla soluta, autem rerum, et expedita est nostrum saepe! Maxime.</p>
<a [routerLink]="['/add']" class="btn btn-primary">Create a ticket</a>
</div>
<br>
<hr>
<app-tickets></app-tickets>
