<h2 class="page-header">Add a ticket</h2>
<form (submit)="onRegisterSubmit()">
  <div class="form-group">
    <label for="">Title</label>
    <input type="text" [(ngModel)]="title" name="title" class="form-control">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea rows="2" cols="80" [(ngModel)]="description" name="description" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="">Department</label><br>
    <select [(ngModel)]="department" name="department">
  <option value="Billing">Billing</option>
  <option value="Sales">Sales</option>
  <option value="Customer Service">Customer Service</option>
  <option value="Retention">Retention</option>
  <option value="Scheduling">Scheduling</option>
</select>
  </div>
<input type="submit" class="btn btn-primary" value="Submit">
</form>
