<div class="jumbotron text-center">
  <h1>Tickets</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deserunt, tempore reiciendis ab! Illo repudiandae aut ratione ipsum, sequi, cupiditate.</p>
  <div>
    <a [routerLink]="['/register']" class="btn btn-primary" *ngIf="!AuthService.loggedIn()" id="register">Register</a>
    <a [routerLink]="['/login']" class="btn btn-secondary" *ngIf="!AuthService.loggedIn()" id="login">Login</a>
    <div *ngIf="AuthService.loggedIn()">
      <h3>You are already logged in</h3>
      <a [routerLink]="['/add']" class="btn btn-primary">Create a ticket</a>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, aliquam!</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-Cli</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nihil dolore provident tenetur mollitia dicta quibusdam, pariatur ipsa doloremque! Ratione!</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis natus, vero iusto ea rerum ducimus expedita deleniti voluptate sit officiis.</p>
  </div>
</div>
