<nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" [routerLink]="['/']">Tickets</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">

        <ul class="navbar-nav mr-auto navbar-left">
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <ul class="navbar-nav mr-auto navbar-right">
          <li class="nav-item" *ngIf="AuthService.loggedIn()">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/dashboard']">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" *ngIf="AuthService.loggedIn()">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/profile']">Profile <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" *ngIf="!AuthService.loggedIn()">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/login']">Login <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" *ngIf="!AuthService.loggedIn()">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/register']">Register <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" *ngIf="AuthService.loggedIn()">
            <a class="nav-link" href="#" (click)="onLogoutClick()">Logout <span class="sr-only">(current)</span></a>
          </li>
        </ul>

      </div>
    </nav>
